Package: neutron-common
Source: neutron
Version: 2015.1.0+2015.06.24.git61.bdf194a0e1-4ubuntu2
Architecture: all
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Installed-Size: 349
Pre-Depends: dpkg
Depends: adduser, dbconfig-common, debconf, dpkg-dev, python-mysqldb, python-neutron, python-pyparsing, python-sqlalchemy, sqlite3, debconf (>= 0.5) | debconf-2.0, python2.7:any, python:any
Breaks: neutron-plugin-linuxbridge-agent, neutron-plugin-openvswitch-agent
Replaces: neutron-plugin-linuxbridge-agent, neutron-plugin-openvswitch-agent
Provides: neutron-plugin, neutron-plugin-bigswitch, neutron-plugin-brocade, neutron-plugin-cisco, neutron-plugin-hyperv, neutron-plugin-linuxbridge, neutron-plugin-metaplugin, neutron-plugin-ml2, neutron-plugin-nec, neutron-plugin-nicira, neutron-plugin-openvswitch, neutron-plugin-plumgrid, neutron-plugin-ryu, python-argparse
Section: net
Priority: optional
Homepage: http://neutron.openstack.org/
Description: OpenStack virtual network service - common files
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the common files.
